@font-face {
    font-family: "principal";
    src: url(../fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf)
    format('truetype');
}
@font-face {
    font-family: 'secundaria';
    src: url(../fonts/Momo_Trust_Sans/MomoTrustSans-Regular.ttf)
    format('truetype');
}

#curso-container{
    border-radius: 1rem;
    text-align: center;
    height: 90%;
    margin: 50px 100px;
    color: white; 
}

#curso-titulo{ 
    font-size: 2.5rem; 
    padding: 2.7rem; 
    font-family: 'principal';
}

h2{
    font-size: 2rem;
    text-align: left;
    margin-left: 2rem;
    padding: 1.2rem;
    font-family: 'principal';
}

#personagem-nome{ 
    font-size: 1.5rem;
    font-family: 'principal';
}

#curso-descricao, #curso-instrucoes{
    font-family: 'secundaria';
    line-height: 1.7;
    font-size: 1.3rem;
    margin: auto 100px;
    text-align: justify;
    padding: 30px;
    
}

#btn-jogar{
    font-family: 'principal';
    font-size: 2.1rem;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    color: white;
    font-weight: 2-00; 
    margin-top: 15px;
    border: 3px solid #F5F5F5;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 1.5px;
    width: 300px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

#btn-jogar:hover {
    transform: scale(1.1);
}
