@font-face {
    font-family: "principal";
    src: url(../fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf)
    format('truetype');
}
@font-face {
    font-family: 'secundaria';
    src: url(../fonts/Momo_Trust_Sans/MomoTrustSans-Regular.ttf)
    format('truetype');
}

body{
    background-color: #44651F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    padding-bottom: 40px;
    margin: 0;
    gap: 40px;
}

.card{
    background-color: white;
    border-radius: 10px;
    border: #638B37 solid 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 35px;
}

.card-title{
    font-family: 'principal';
    font-size: 20px;
    color: #44651F;
}

.card-text{
    color: black;
    font-family: 'secundaria';
    font-size: 18px;
    text-align: center;
}

.btn-action{
    background-color: #44651F;
    border-radius: 4px;
    border: #638B37 solid 2px;
    font-family: 'secundaria';
    font-size: 15px;
    color: white;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#btn-voltar{
    width: 70px;
    left: 20px;
    top: 20px;
    position: absolute;
}

#btn-home{
    width: 70px;
    left: 20px;
    top: 90px;
    position: absolute;
}
