@font-face {
    font-family: "principal";
    src: url(../fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf)
    format('truetype');
}
@font-face {
    font-family: 'secundaria';
    src: url(../fonts/Momo_Trust_Sans/MomoTrustSans-Regular.ttf)
    format('truetype');
}

#workspace {
    width: 85%;
    min-height: 400px;
    border: 7px solid #825886;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    background: #fafafa;

}

#selecao-blocos{
    display: flex;
    flex-direction: column;
    width: 70%;          
    margin: 0 auto;
}

#blocos-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloco-opcao {
    display: flex;
    color: white;
    font-family: 'principal';
    background-color: #825886;
    border-radius: 4px;
    width: 8%;
    padding: 15px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

.bloco {
    padding: 10px 14px;
    background: #825886;
    border: 2px solid white;
    border-radius: 8px;
    cursor: grab;
    font-family: 'principal';
    user-select: none;
    color: white;
}

.bloco:active {
    cursor: grabbing;
}

.bloco select{
    color: #4C1753;
    font-family: 'secundaria';
    text-align: center;
    font-size: 14px;
}

.bloco-loop .conteudo-loop {
    min-height: 40px;
    padding: 10px;
    border: 1px dashed #aaa;
    margin-top: 6px;
}

#lixeira {
    width: 90%;
    height: 80px;
    border: 4px solid rgb(194, 0, 0);
    background-color: rgb(248, 97, 97);
    border-radius: 10px;
    color: white;
    font-family: 'principal';
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

h1{
    font-family: 'principal';
    font-size: 20pt;
    text-align: center;
    color: white;
}

#container-escolha{
    background-color: #825886;
    width: 40%;
    padding: 60px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#escolha, #btnCarregar, #btn-verificar{
    font-size: 16px;
    font-family: 'secundaria';
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#btn-verificar{
    width: 20%;
    margin: auto;
    font-size: 16px;
    margin-bottom: 40px;
}

#btnCarregar{
    font-size: 18px;
}

#bodyFP1{
    background-color: #4C1753;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 100vh;            
    margin: 0;
    gap: 40px;
}


#bodyFP2{
    background-color: #4C1753;
    height: 100vh;            
    margin: 0;
    gap: 40px;
}

h2{
    font-family: 'principal';
    color: white;
    font-size: 22px;
}

#container-jogoFP{
    display: flex;
    flex-direction: column;
    width: 70%;          
    margin: 0 auto;
    gap: 40px;
}

#img-prato{
    width: 230px;
}