@font-face {
    font-family: 'principal';
    src: url(../fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf)
    format('truetype');
}
@font-face {
    font-family: 'secundaria';
    src: url(../fonts/Momo_Trust_Sans/MomoTrustSans-Regular.ttf)
    format('truetype');
}

.logo {
    width: 300px;
    margin-right: 60px;
}

.topo-conteudo {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra-lateral {
    width: 200px; 
    background-color: #8C275E; 
    color: #F5F5F5;
    padding: 10px 0;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.barra-lateral nav ul li a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: #F5F5F5; 
    font-weight: 600;
    font-family: 'principal';
    opacity: 0.8;
    transition: opacity 0.3s;
}

.barra-lateral nav ul li a.active {
    font-weight: 700; 
}

.barra-lateral nav ul li .asterisco {
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    line-height: 0;
    color: #F5F5F5;
    opacity: 0.8;
}

.barra-lateral nav ul li a {
    position: relative;
    transition: all 0.3s ease;
}

.barra-lateral nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #F5F5F5;
    transform: scaleY(0);
    transition: transform 0.3s ease;
    transform-origin: top;
}

.barra-lateral nav ul li a:hover::before {
    transform: scaleY(1);
}

h1{
    font-family: 'principal';
    font-size: 2.5rem; 
    font-weight: 900; 
    color: #8C275E; 
    text-align: center; 
    margin-top: 40px; 
    margin-bottom: 20px; 
}
.links{
    font-size: 2.5rem;
}

.logo {
    width: 300px;
    margin-right: 60px; 
}
.botao-principal {
    padding: 10px 20px; 
    font-family: 'principal';
    font-size: 1rem; 
    font-weight: 500; 
    color: #F5F5F5; 
    background-color: #8C275E; 
    border: 3px solid #F5F5F5;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    box-shadow: 0 8px 0 0 #5E1A3F, 
                0 0 15px rgba(140, 39, 94, 0.8); 
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.botao-principal:hover {
    background-color: #A33372; 
    box-shadow: 0 6px 0 0 #5E1A3F, 
                0 0 20px rgba(140, 39, 94, 1);
}

.botao-principal:active {
    transform: translateY(6px); 
    box-shadow: 0 2px 0 0 #5E1A3F, 
                0 0 10px rgba(140, 39, 94, 0.5); 
    background-color: #6C1C4A; 
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info{
    width: 50%;
    border-radius: 10px;
    color: white;
    height: 500px;
}