@font-face {
    font-family: 'principal';
    src: url(../fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf)
    format('truetype');
}
@font-face {
    font-family: 'secundaria';
    src: url(../fonts/Momo_Trust_Sans/MomoTrustSans-Regular.ttf)
    format('truetype');
}

p{
    font-family: 'secundaria'; 
}
.caixa-intro-rede {
    max-width: 1000px;
    margin: 30px auto; 
    padding: 30px;
    background-color:  #ffffff; 
    border: 2px solid #a70053; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.caixa-intro-rede h2 {
    color: #a00050; 
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-family: 'principal'; 

}

.caixa-intro-rede p {
    color: #444;
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 1.05em;
}


.container-cards {
    max-width: 1200px; 
    margin: 40px auto;
    padding: 20px;
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    
    gap: 30px; 
}

.card-pessoa-expandido {
    background-color: #ffffff; 
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
}

.card-pessoa-expandido:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.cabecalho-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.foto-perfil {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 4px solid  #a70053; 
}

.info-principal h2 {
    margin: 0;
    color: #333;
    font-size: 1.1em;
    font-family: 'principal'; 

}

.info-principal .area {
    color:  #a70053;
    font-weight: 600;
    font-size: 1em;
    margin-top: 5px;
    text-align: justify;
}

.corpo-card .descricao {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #555;
    font-size: 0.95em;
    text-align: justify;

}

.link-linkedin {
    display: inline-block;
    background-color: #0077b5; 
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.2s;
}

.link-linkedin:hover {
    background-color: #005f93;
    transform: translateY(-2px);
}

.logolk{
    width: 20px;
    height: 20px;
}

@media (max-width: 900px) {
    .container-cards {
        grid-template-columns: 1fr; 
        padding: 10px;
    }
    .caixa-intro-rede {
        margin: 20px 10px;
        padding: 20px;
    }
    .cabecalho-card {
        flex-direction: column;
        text-align: center;
    }
    .foto-perfil {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .info-principal {
        text-align: center;
    }
    .link-linkedin {
        width: 100%;
        text-align: center;
    }
}