<!DOCTYPE html> 
<html lang="pt-BR"> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Ciência de Dados</title> 
        <link rel="stylesheet" href="../estilo/home.css"> 
        <link rel="stylesheet" href="../estilo/cursos.css"> 
        <script type="module" src="../../controller/controle-randomPerguntas.js"></script> 
    </head> 
    <body> 
        <h2 id="questao-descricao">Descrição da situação</h2> 
        <div id="cd-tabela"></div>
        <div id="questoes-container"> 
            <div class="questao"> 
                <div class="questao-enunciado" id="enunciado-1"></div> 
                <label><input type="radio" name="pergunta1" value="0" class="questao-opcao"> <span id="p1-op1"></span></label> 
                <label><input type="radio" name="pergunta1" value="1" class="questao-opcao"> <span id="p1-op2"></span></label> 
                <label><input type="radio" name="pergunta1" value="2" class="questao-opcao"> <span id="p1-op3"></span></label> 
            </div> 
            <div class="questao"> 
                <div class="questao-enunciado" id="enunciado-2"></div> 
                <label><input type="radio" name="pergunta2" value="0" class="questao-opcao"> <span id="p2-op1"></span></label> 
                <label><input type="radio" name="pergunta2" value="1" class="questao-opcao"> <span id="p2-op2"></span></label> 
                <label><input type="radio" name="pergunta2" value="2" class="questao-opcao"> <span id="p2-op3"></span></label> 
            </div> 
            <div class="questao"> 
                <div class="questao-enunciado" id="enunciado-3"></div> 
                <label><input type="radio" name="pergunta3" value="0" class="questao-opcao"> <span id="p3-op1"></span></label> 
                <label><input type="radio" name="pergunta3" value="1" class="questao-opcao"> <span id="p3-op2"></span></label> 
                <label><input type="radio" name="pergunta3" value="2" class="questao-opcao"> <span id="p3-op3"></span></label> 
            </div> 
        </div> 
        <button id="finalizar-btn">Finalizar</button> 
    </body> 
</html>