<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elasCodam</title>
    <link rel="stylesheet" href="../estilo/escolha.css">
    <script type="module" src="../../controller/controle-pagJogo.js"></script>
</head>

<body>

    <aside class="barra-lateral">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="rede.html">Rede de Apoio</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </aside>

    <div class="conteudo-principal">

        <header class="topo-conteudo">
            <a href="index.html">
                <img class="logo" src="../img/logoelascodam.png">
            </a>
        </header>
        <div id="container">
            <img id="personagem-fala">
            <div id="container-info">
                <p id="titulo-escolha"> Escolha por onde deseja começar!</p>
                <div class="container-botoes">
                    <button class="botao-principal" id="btn-quizz">Quiz</button>
                    <button class="botao-principal" id="btn-jogo">Jogo</button>
                    <button class="botao-principal" id="btn-mat" onclick="location.href='caminho-para-o-material.html'">Material de
                        Estudo</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>