<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elasCodam</title>
    <link rel="stylesheet" href="../estilo/escolha.css">
    <script type="module" src="../../controller/controle-pagJogo.js"></script>
</head>

<body>

    <aside class="barra-lateral">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Rede de Apoio</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </aside>

    <div class="conteudo-principal">

        <header class="topo-conteudo">
            <h1 class="logo-texto">elasCodam</h1>
        </header>
        <p> Escolha por onde deseja começar! :)</p>
        <div class="container-botoes">
               <button class="botao-principal" id="btn-quizz">Quiz</button>
               <button class="botao-principal" id="btn-jogo">Jogo</button>
               <button class="botao-principal" onclick="location.href='caminho-para-o-material.html'">Material de
                Estudo</button>
        </div>
    </div>
</body>

</html>