<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elasCodam</title>
    <link rel="stylesheet" href="../estilo/home.css">
</head>

<body>

    <aside class="barra-lateral">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Rede de Apoio</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </aside>

    <div class="conteudo-principal">

        <header class="topo-conteudo">
            <h1 class="logo-texto">elasCodam</h1>
        </header>

        <section class="cursos">

            <div class="curso-card programacao">

                <div class="card-conteudo">
                    <a href="curso.html?personagem=Lara">
                        <img src="../img/lara.png" alt="Programação" title="Fundamentos da Programação">
                    </a>
                </div>
                <div class="card-detalhes">
                    <h2>Fundamentos da Programação</h2>
                    <p class="txt-descricao"> Programar é como cozinhar: na ordem certa, tudo funciona.</p>
                    <p>Meu progresso:</p>
                    <div class="barra-progresso">
                        <div class="progresso" style="width: 60%;"></div>
                    </div>

                </div>
            </div>
            
            <div class="curso-card ia">
                <div class="card-conteudo">
                    <a href="curso.html?personagem=Ayla">
                        <img src="../img/ayla.png" alt="Inteligência Artificial" title="Inteligência Artificial">
                    </a>
                </div>
                <div class="card-detalhes">
                    <h2>Inteligência Artificial</h2>
                    <p class="txt-descricao">Programe o robô BIA e descubra como a ordem das regras muda tudo!</p>
                    <p>Meu progresso:</p>
                    <div class="barra-progresso">
                        <div class="progresso" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
            
            <div class="curso-card dados">
                <div class="card-conteudo">
                    <a href="curso.html?personagem=Sofia">
                        <img src="../img/sofia.png" alt="Ciência de Dados" title="Ciência de Dados">
                    </a>
                </div>
                <div class="card-detalhes">
                    <h2>Ciência de Dados</h2>
                    <p class="txt-descricao"> Investigue padrões e resolva mistérios com o poder dos dados!</p>
                    <p>Meu progresso:</p>
                    <div class="barra-progresso">
                        <div class="progresso" style="width: 60%;"></div>
                    </div>
                </div>
            </div>

            <div class="curso-card hardware">
                <div class="card-conteudo">
                    <a href="curso.html?personagem=Kaori">
                        <img src="../img/kaori.png" alt="Hardware" title="Hardware">
                    </a>
                </div>
                <div class="card-detalhes">
                    <h2>Hardware</h2>
                    <p class="txt-descricao"> Monte o cérebro da máquina — sem deixar nada superaquecer!</p>
                    <p>Meu progresso:</p>
                    <div class="barra-progresso">
                        <div class="progresso" style="width: 60%;"></div>
                    </div>
                </div>
            </div>

            <div class="curso-card seguranca">
                <div class="card-conteudo">
                    <a href="curso.html?personagem=Nia">
                        <img src="../img/nia.png" alt="Segurança Cibernética" title="Segurança Cibernética">
                    </a>
                </div>
                <div class="card-detalhes">
                    <h2>Segurança Cibernética</h2>
                    <p class="txt-descricao"> Hackers à solta! Tome decisões rápidas e salve sua startup.</p>
                    <p>Meu progresso:</p>
                    <div class="barra-progresso">
                        <div class="progresso" style="width: 60%;"></div>
                    </div>
                </div>
            </div>

            <div class="curso-card webdev">
                <div class="card-conteudo">
                    <a href="curso.html?personagem=Maya">
                        <img src="../img/maya.png" alt="WebDev" title="Web Development">
                    </a>
                </div>
                <div class="card-detalhes">
                    <h2>Web Development</h2>
                    <p class="txt-descricao"> HTML, CSS e criatividade: os blocos que constroem o mundo digital.</p>
                    <p>Meu progresso:</p>
                    <div class="barra-progresso">
                        <div class="progresso" style="width: 60%;"></div>
                    </div>
                </div>

            </div>

        </section>
    </div>
</body>

</html>