<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segurança Cibernética</title>
    <script type="module" src="../../controller/controle-jogoSC.js"></script>
    <link rel="stylesheet" href="../estilo/jogoSC.css">
</head>
<body>
    <div id="botoes">
        <a href="escolha.html?personagem=Nia">
            <img id="btn-voltar" src="../img/btn_voltar_sc.png" alt="Voltar">
        </a>
        <a href="index.html">
            <img id="btn-home" src="../img/btn_home_sc.png" alt="Home">
        </a>
    </div>
    <div id="container-nia">
        
    </div>
    <div class="wrapper">
        <div id="game-root"></div>
    </div>
</body>
</html>