<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Fundamentos da Programação</title>
  <script type="module" src="../../controller/controle-jogoFP_1.js"></script>
</head>
<body>
  <h1>Escolha o que o seu robô vai cozinhar!</h1>

  <select id="escolha">
    <option value="sanduiche">Fazer sanduíche</option>
    <option value="omelete">Fazer omelete</option>
    <option value="cafe">Fazer café</option>
  </select>

  <button id="btnCarregar">Ir para o jogo</button>
</body>
</html>
