<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Fundamentos da Programação</title>
  <script type="module" src="../../controller/controle-jogoFP_1.js"></script>
  <link rel="stylesheet" href="../estilo/jogoFP.css">
</head>
<body id="bodyFP1">
  <div id="container-escolha" >
    <h1>Escolha o que o seu robô vai cozinhar!</h1>

    <img id="img-prato" src="../img/lara_feliz.png" alt="Prato escolhido">

    <select id="escolha">
      <option value="nada">-</option>
      <option value="sanduiche">Fazer sanduíche</option>
      <option value="omelete">Fazer omelete</option>
    </select>
  </div>

  <button id="btnCarregar">Ir para o jogo</button>
</body>
</html>
