<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Fundamentos da Programação</title>
  <script type="module" src="../../controller/controle-jogoFP_2.js"></script>
  <link rel="stylesheet" href="../estilo/jogoFP.css">
</head>
<body id="bodyFP2">
  <div id="botoes">
    
  </div>
  <div id="selecao-blocos">
    <h2>Selecione as instruções do seu algoritmo:</h2>
    <div id="blocos-container"></div>
  </div>
  <div id="container-jogoFP">
    <h2>Monte seu algoritmo:</h2>
    <div id="workspace"></div>
    <div id="lixeira">Arraste aqui para excluir</div>
    <button id="btn-verificar">Verificar Algoritmo</button>
  </div>
</body>
</html>
