<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material de Estudo</title>
    <link rel="stylesheet" href="../estilo/material_estudo.css">
    <script type="module" src="../../controller/controle-pagJogo.js"></script>
</head>
<body>
    <header class="topo-conteudo">
        <h1 class="logo-texto">elasCodam</h1>
    </header>
    <h1 id="titulo"></h1>
    <div id="links"></div>

    <button onclick="history.back()" class="botao-principal" id="btn-voltar">Voltar</button>
</body>
</html>