<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material de Estudo</title>
    <link rel="stylesheet" href="../estilo/material_estudo.css">
    <script type="module" src="../../controller/controle-pagJogo.js"></script>
</head>
<body>
    <aside class="barra-lateral">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="rede.html">Rede de Apoio</a></li>
            <li><a href="sobre.html">Sobre Nós</a></li>
        </ul>
    </nav>
    </aside>

    <header class="topo-conteudo">
            <a href="index.html">
                <img class="logo" src="../img/logoelascodam.png">
            </a>
        </header>
    <div id="container">
        <div id="info">
            <h1 id="titulo"></h1>
            <div id="links"></div>
        </div>
        <button onclick="history.back()" class="botao-principal" id="btn-voltar">Voltar</button>
    </div>
</body>
</html>