<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elasCodam | Rede de Apoio</title>
    <link rel="stylesheet" href="../estilo/home.css">
    <link rel="stylesheet" href="../estilo/rede.css">
</head>

<body>

    <aside class="barra-lateral">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="rede-apoio.html">Rede de Apoio</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </aside>

    <div class="conteudo-principal">

        <header class="topo-conteudo">
            <img class="logo" src="../img/logoelascodam.png" alt="Logo elasCodam">
        </header>

        <section class="caixa-intro-rede">
            <h2>Conheça Mulheres Em Tech!</h2>
            <p>
                Nesta seção, você encontrará desenvolvedoras, cientistas de dados, designers e outras profissionais 
                prontas para compartilhar suas experiências. Se você busca uma mentora, um conselho de carreira ou 
                simplesmente deseja expandir sua rede, aproveite esta oportunidade. Clique nos links do Linkedn para se conectar, iniciar uma conversa e aprender mais sobre a trajetória delas. 
                O seu próximo passo começa aqui!
            </p>
        </section>

        <section class="container-cards">
            
            <div class="card-pessoa-expandido">
                
                <div class="cabecalho-card">
                    <div class="info-principal">
                        <h2>Paula Salgado Lucena Rodrigues</h2>
                        <p class="area">Área: Computação Gráfica</p>
                    </div>
                </div>

                <div class="corpo-card">
                    <p class="descricao">
                       Olá, me chamo Paula Salgado Lucena Rodrigues. Sou pernambucana e moro no Rio de Janeiro desde 2000. Sou formada em Ciência da Computação pela Universidade Federal de Pernambuco (1995–1999) e possuo Mestrado (2000–2002) e Doutorado (2003–2007) em Informática pela PUC-Rio, com foco em Computação Gráfica.

Desde agosto de 2000, trabalho no Instituto TecGraf, onde iniciei minha carreira como programadora. Atualmente, atuo como líder de produto no grupo de Geofísica Computacional do instituto. Também sou professora do Departamento de Informática, ministrando disciplinas de linguagens de programação como Python, C e Java.

Estou aqui para colaborar no que for necessário.
Em caso de dúvidas, entre em contato pelo e-mail: paulaslrodrigues@gmail.com

Ou pelo LinkedIn:
                    </p>
                    <a href="https://www.linkedin.com/in/paulaslrodrigues/" target="_blank" class="link-linkedin">
                        🔗 Ver LinkedIn
                    </a>
                </div>
            </div>

            <div class="card-pessoa-expandido">
                
                <div class="cabecalho-card">
                    <div class="info-principal">
                        <h2>Nome da Pessoa 2</h2>
                        <p class="area">Área: Data Science</p>
                    </div>
                </div>

                <div class="corpo-card">
                    <p class="descricao">
                        Cientista de dados com foco em aprendizado de máquina e processamento de linguagem natural (NLP). 
                        Oferece mentorias em Python, bibliotecas de Data Science (Pandas, Scikit-learn) e visualização de dados.
                    </p>
                    <a href="https://linkedin.com/in/link-pessoa-2" target="_blank" class="link-linkedin">
                        🔗 Ver LinkedIn
                    </a>
                </div>
            </div>
            
            <div class="card-pessoa-expandido">
                
                <div class="cabecalho-card">
                    <div class="info-principal">
                        <h2>Nome da Pessoa 3</h2>
                        <p class="area">Área: Engenharia de Software</p>
                    </div>
                </div>

                <div class="corpo-card">
                    <p class="descricao">
                        Engenheira de software especialista em arquitetura de microsserviços e Java. 
                        Ajuda na transição de carreira para o back-end e em práticas de código limpo.
                    </p>
                    <a href="https://linkedin.com/in/link-pessoa-3" target="_blank" class="link-linkedin">
                        🔗 Ver LinkedIn
                    </a>
                </div>
            </div>

            <div class="card-pessoa-expandido">
                
                <div class="cabecalho-card">
                    <div class="info-principal">
                        <h2>Nome da Pessoa 4</h2>
                        <p class="area">Área: UX/UI Design</p>
                    </div>
                </div>

                <div class="corpo-card">
                    <p class="descricao">
                        Designer de Produto Sênior focada em pesquisa de usuário e prototipagem. 
                        Oferece orientação em portfólio, ferramentas de design e metodologias Ágeis.
                    </p>
                    <a href="https://linkedin.com/in/link-pessoa-4" target="_blank" class="link-linkedin">
                        🔗 Ver LinkedIn
                    </a>
                </div>
            </div>
            <div class="card-pessoa-expandido">
                
                <div class="cabecalho-card">
                    <div class="info-principal">
                        <h2>Nome da Pessoa 4</h2>
                        <p class="area">Área: UX/UI Design</p>
                    </div>
                </div>

                <div class="corpo-card">
                    <p class="descricao">
                        Designer de Produto Sênior focada em pesquisa de usuário e prototipagem. 
                        Oferece orientação em portfólio, ferramentas de design e metodologias Ágeis.
                    </p>
                    <a href="https://linkedin.com/in/link-pessoa-4" target="_blank" class="link-linkedin">
                        🔗 Ver LinkedIn
                    </a>
                </div>
            </div>
            <div class="card-pessoa-expandido">
                
                <div class="cabecalho-card">
                    <div class="info-principal">
                        <h2>Nome da Pessoa 4</h2>
                        <p class="area">Área: UX/UI Design</p>
                    </div>
                </div>

                <div class="corpo-card">
                    <p class="descricao">
                        Designer de Produto Sênior focada em pesquisa de usuário e prototipagem. 
                        Oferece orientação em portfólio, ferramentas de design e metodologias Ágeis.
                    </p>
                    <a href="https://linkedin.com/in/link-pessoa-4" target="_blank" class="link-linkedin">
                        🔗 Ver LinkedIn
                    </a>
                </div>
            </div>
        </section>

    </div>
</body>
</html>