<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../estilo/sobre.css">
</head>

<body>

    <aside class="barra-lateral">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Rede de Apoio</a></li>
                <li><a href="sobre.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </aside>

    <div class="conteudo-principal">

        <header class="topo-conteudo">
            <h1 class="logo-texto">elasCodam</h1>
        </header>
        <h2>Quem somos?</h2>
        <div class="divsobre">
            <p id="textosobre">Somos um grupo de 3 alunas de Engenharia de Computação na PUC-Rio e o elasCodam é o nosso terceiro projeto desenvolvido
                no programa Twist, do Tecgraf/PUC-Rio.
                Durante essa experiência, tivemos a oportunidade de aprender e aplicar conceitos de HTML, CSS,
                JavaScript e JSON,
                além de utilizar a metodologia
                ágil Scrum, que nos ajudou a organizar o trabalho em equipe de forma mais dinâmica e eficiente.</p>
        </div><br/>
         <h2>Sobre a criação do elasCodam:</h2>
        <div class="divsobre">
            <p id="textosobre">O elasCodam é um projeto de incentivo e educação em tecnologia voltado principalmete para meninas de 16 a 21 anos (do Ensino Médio aos primeiros anos do Ensino Superior) 
                que desejam ou já estão cursando a área de computação. Nosso objetivo é incentivar e capacitar as próximas gerações de mulheres na tecnologia.
                Com isso, desenvolvemos uma jornada de aprendizado divertida e eficaz, utilizando joguinhos conceituais para ensinar sobre algumas áreas importantes da computação, sendo elas:
                <em>Inteligência Artificial (IA), Segurança Cibernética, Web Development (WebDev), Fundamentos da Programação, Ciência de Dados e Hardware. </em>
                Além disso, criamos uma poderosa Rede de Apoio para que você se conecte com referências femininas inspiradoras da área, construindo uma verdadeira comunidade de suporte. Junte-se a nós e descubra o seu potencial no mundo computacional!!!</p>
        </div><br/>
        <h3>Participantes:</h3>
        <div id="div">
            <article class="pessoa">
                <img src="../img/giovana.jpg" alt="Bibi">
                <h5>Ana Beatriz</h5>
                </br>
                <p>Curso: Engenharia de Computação </p>
                <p> GitHub: <a href="https://github.com/AnaBiaHP" target="_blank">AnaBiaHP</a></p>
                <p> <a href="https://anabiahp.github.io/Autoapresenta-o/Proj%20pessoal/" target="_blank">Site pessoal</a></p>
            </article>
            <article class="pessoa">
                <img src="../img/ana.jpeg" alt="Ana">
                <h5>Ana Clara</h5>
                </br>
                <p>Curso: Engenharia de Computação </p>
                <p> GitHub: <a href="https://github.com/Anna3206" target="_blank">Anna3206</a></p>
                <p><a href="#" target="_blank">Site pessoal</a></p>
            </article>
            <article class="pessoa">
                <img src="../img/bia.JPG" alt="Bia">
                <h5> Beatriz</h5>
                </br>
                <p>Curso: Engenharia de Computação </p>
                <p> GitHub: <a href="https://github.com/beatrizritterr" target="_blank">beatrizritter</a></p>
                <p><a href="https://beatrizritterr.github.io/apresenta-o-twist/" target="_blank">Site pessoal</a></p>
            </article>

        </div>
</body>
</html>